<p mat-dialog-title>Upload your wailing sheet</p>
<mat-dialog-content>
  <div class="file-selector-container">
    <input
      aria-label="select wailing sheet file"
      type="file"
      class="file-input"
      accept=".csv"
      (change)="onFileSelected($event)"
      #fileUpload
    />

    <div class="file-upload">
      <p>{{ fileName || "No file uploaded yet." }}</p>

      <button
        mat-mini-fab
        color="primary"
        class="upload-btn"
        (click)="fileUpload.click()"
      >
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
